<app-loading-spinner [isLoading]="isPending">
  <div class="w-full flex justify-end mb-2">
    <app-search [search]="search"></app-search>
  </div>
  <div class="flex flex-col md:flex-row md:flex-wrap items-center gap-4 transition-all">
    <div
      class="w-full md:w-[212px] h-[260px] rounded-lg border border-dashed border-primary/50 hover:border-primary cursor-pointer flex items-center justify-center transition-all"
      (click)="addNewBook()">
      <app-button [prefixIcon]="addIcon">Add new</app-button>
    </div>

    @for(book of books() | filter:search():['title','author']; track book.id) {
      <app-book-card class="w-full md:w-[212px] transition-all" [book]="book" [actions]="popoverActions"></app-book-card>
    }
  </div>
</app-loading-spinner>
